.day {
    width: 50px;
    height: 50px;
}

.dayHeader {
    display: inline;
    padding: .5em 9em;
    width: 100px;
    text-align: center;
    color: #e66b6b;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: #e66b6b;
}

.day {
    display: inline-block;
    width: 100px;
    padding: 3.5em 9em;
    text-align: center;
    color: #e66b6b;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: #e66b6b;
}

.clickedDay {
    background-color: yellow;
    display: inline-block;
    width: 100px;
    padding: 3.5em 9em;
    text-align: center;
    color: #e66b6b;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: #e66b6b;
}
.editDay {
        background-color: rebeccapurple;
    display: inline-block;
    width: 100px;
    padding: 3.5em 9em;
    text-align: center;
    color: #e66b6b;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: #e66b6b;
}
.emptyDayField {
    display: inline-block;
    width: 100px;
    padding: 3.5em 9em;
    text-align: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: black;
}

.calendarDays {
    width: 1806px;
}
