

.dayHeader {
    box-sizing: border-box;
    width: 250px;
    display:inline-block;
    text-align:center;
}

.day {
    display: inline-block;
    box-sizing: border-box;
    height:100px;
    width: 250px;
    text-align: center;
    color: #e66b6b;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: #e66b6b;
}

.day.clickedDay {
    background-color: yellow;
}
.day.editDay {
    background-color: rebeccapurple;
}

.day.firstDay {
    background-color: palegreen;
}

.emptyDayField {
    display: inline-block;
    width: 100px;
    padding: 3.5em 9em;
    text-align: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-color: black;
}

.calendarDays {
    width: 100%;
    box-sizing: border-box;
}
